{% extends 'admin_panel/admin-base.html' %}

{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->

        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->

                <div class="page-body">
                    <div class="row">
                       <!--first row-->
                       <div>
                        
                       </div>
                       <!--first row ends-->
                        <!--Second row starts-->
                        <!-- task, page, download counter  starts -->
                        <div class="col-xl-3 col-md-6">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h4 class="text-c-purple">$30200</h4>
                                            <h6 class="text-muted m-b-0">All Earnings</h6>
                                        </div>
                                        <div class="col-4 text-right">
                                            <i class="fa fa-bar-chart f-28"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-c-purple">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <p class="text-white m-b-0">% change</p>
                                        </div>
                                        <div class="col-3 text-right">
                                            <i class="fa fa-line-chart text-white f-16"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h4 class="text-c-green">290+</h4>
                                            <h6 class="text-muted m-b-0">Page Views</h6>
                                        </div>
                                        <div class="col-4 text-right">
                                            <i class="fa fa-file-text-o f-28"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-c-green">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <p class="text-white m-b-0">% change</p>
                                        </div>
                                        <div class="col-3 text-right">
                                            <i class="fa fa-line-chart text-white f-16"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h4 class="text-c-red">145</h4>
                                            <h6 class="text-muted m-b-0">Task Completed</h6>
                                        </div>
                                        <div class="col-4 text-right">
                                            <i class="fa fa-calendar-check-o f-28"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-c-red">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <p class="text-white m-b-0">% change</p>
                                        </div>
                                        <div class="col-3 text-right">
                                            <i class="fa fa-line-chart text-white f-16"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h4 class="text-c-blue">500</h4>
                                            <h6 class="text-muted m-b-0">Downloads</h6>
                                        </div>
                                        <div class="col-4 text-right">
                                            <i class="fa fa-hand-o-down f-28"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-c-blue">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <p class="text-white m-b-0">% change</p>
                                        </div>
                                        <div class="col-3 text-right">
                                            <i class="fa fa-line-chart text-white f-16"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- task, page, download counter  end -->
                        <!--Second row ends-->


                        <!--Third row start-->
                        <!--  find a tutor start -->
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Find a Tutor</h5>
                                    <form>
                                        <div class="form-group row">
                                            <div class="col-sm-2">
                                                <label class="col-form-label">Class</label>
                                                <select name="select" class="form-control">
                                                    <option value="opt1">Select Class</option>
                                                    <option value="opt2">Type 2</option>
                                                    <option value="opt3">Type 3</option>
                                                    <option value="opt4">Type 4</option>
                                                    <option value="opt5">Type 5</option>
                                                    <option value="opt6">Type 6</option>
                                                    <option value="opt7">Type 7</option>
                                                    <option value="opt8">Type 8</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="col-form-label">Subject</label>
                                                <select name="select" class="form-control">
                                                    <option value="opt1">Select Subject</option>
                                                    <option value="opt2">Type 2</option>
                                                    <option value="opt3">Type 3</option>
                                                    <option value="opt4">Type 4</option>
                                                    <option value="opt5">Type 5</option>
                                                    <option value="opt6">Type 6</option>
                                                    <option value="opt7">Type 7</option>
                                                    <option value="opt8">Type 8</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="col-form-label">Location</label>
                                                <select name="select" class="form-control">
                                                    <option value="opt1">Select Location</option>
                                                    <option value="opt2">Type 2</option>
                                                    <option value="opt3">Type 3</option>
                                                    <option value="opt4">Type 4</option>
                                                    <option value="opt5">Type 5</option>
                                                    <option value="opt6">Type 6</option>
                                                    <option value="opt7">Type 7</option>
                                                    <option value="opt8">Type 8</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="col-form-label">Maximum Fee</label>
                                                <input class="form-control" type="number" name="fee"
                                                    placeholder="Rs./hour" />
                                            </div>
                                            <div class="col-sm-2 text-center">
                                                <input type="submit"
                                                    class="btn waves-effect waves-light btn-primary btn-square"
                                                    value="Search">
                                            </div>
                                        </div>


                                    </form>
                                </div>

                            </div>
                        </div>


                        <div class="col-12">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col">
                                            <h4>$256.23</h4>
                                            <p class="text-muted">This Month</p>
                                        </div>
                                        <div class="col-auto">
                                            <label class="label label-success">+20%</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <canvas id="this-month" style="height: 80px;"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  find a tutor end -->
                        <!--Third row ends-->

                        <!--Fourth row start-->
                        <!--  project and team member start -->
                        <div class="col-xl-8 col-md-12">
                            <div class="card table-card">
                                <div class="card-header">
                                    <h5>Projects</h5>
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="fa fa fa-wrench open-card-option"></i>
                                            </li>
                                            <li><i class="fa fa-window-maximize full-card"></i></li>
                                            <li><i class="fa fa-minus minimize-card"></i></li>
                                            <li><i class="fa fa-refresh reload-card"></i></li>
                                            <li><i class="fa fa-trash close-card"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <div class="chk-option">
                                                            <div class="checkbox-fade fade-in-primary">
                                                                <label class="check-task">
                                                                    <input type="checkbox" value="">
                                                                    <span class="cr">
                                                                        <i class="cr-icon fa fa-check txt-default"></i>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        Assigned
                                                    </th>
                                                    <th>Name</th>
                                                    <th>Due Date</th>
                                                    <th class="text-right">Priority</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="chk-option">
                                                            <div class="checkbox-fade fade-in-primary">
                                                                <label class="check-task">
                                                                    <input type="checkbox" value="">
                                                                    <span class="cr">
                                                                        <i class="cr-icon fa fa-check txt-default"></i>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="d-inline-block align-middle">
                                                            <img src="assets/images/avatar-4.jpg" alt="user image"
                                                                class="img-radius img-40 align-top m-r-15">
                                                            <div class="d-inline-block">
                                                                <h6>John Deo</h6>
                                                                <p class="text-muted m-b-0">Graphics
                                                                    Designer</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>Able Pro</td>
                                                    <td>Jun, 26</td>
                                                    <td class="text-right"><label class="label label-danger">Low</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="chk-option">
                                                            <div class="checkbox-fade fade-in-primary">
                                                                <label class="check-task">
                                                                    <input type="checkbox" value="">
                                                                    <span class="cr">
                                                                        <i class="cr-icon fa fa-check txt-default"></i>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="d-inline-block align-middle">
                                                            <img src="assets/images/avatar-5.jpg" alt="user image"
                                                                class="img-radius img-40 align-top m-r-15">
                                                            <div class="d-inline-block">
                                                                <h6>Jenifer Vintage</h6>
                                                                <p class="text-muted m-b-0">Web
                                                                    Designer</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>Mashable</td>
                                                    <td>March, 31</td>
                                                    <td class="text-right"><label
                                                            class="label label-primary">high</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="chk-option">
                                                            <div class="checkbox-fade fade-in-primary">
                                                                <label class="check-task">
                                                                    <input type="checkbox" value="">
                                                                    <span class="cr">
                                                                        <i class="cr-icon fa fa-check txt-default"></i>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="d-inline-block align-middle">
                                                            <img src="assets/images/avatar-3.jpg" alt="user image"
                                                                class="img-radius img-40 align-top m-r-15">
                                                            <div class="d-inline-block">
                                                                <h6>William Jem</h6>
                                                                <p class="text-muted m-b-0">
                                                                    Developer</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>Flatable</td>
                                                    <td>Aug, 02</td>
                                                    <td class="text-right"><label
                                                            class="label label-success">medium</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="chk-option">
                                                            <div class="checkbox-fade fade-in-primary">
                                                                <label class="check-task">
                                                                    <input type="checkbox" value="">
                                                                    <span class="cr">
                                                                        <i class="cr-icon fa fa-check txt-default"></i>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="d-inline-block align-middle">
                                                            <img src="assets/images/avatar-2.jpg" alt="user image"
                                                                class="img-radius img-40 align-top m-r-15">
                                                            <div class="d-inline-block">
                                                                <h6>David Jones</h6>
                                                                <p class="text-muted m-b-0">
                                                                    Developer</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>Guruable</td>
                                                    <td>Sep, 22</td>
                                                    <td class="text-right"><label
                                                            class="label label-primary">high</label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-right m-r-20">
                                            <a href="#!" class=" b-b-primary text-primary">View all
                                                Projects</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-12">
                            <div class="card ">
                                <div class="card-header">
                                    <h5>Team Members</h5>
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="fa fa fa-wrench open-card-option"></i>
                                            </li>
                                            <li><i class="fa fa-window-maximize full-card"></i></li>
                                            <li><i class="fa fa-minus minimize-card"></i></li>
                                            <li><i class="fa fa-refresh reload-card"></i></li>
                                            <li><i class="fa fa-trash close-card"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="align-middle m-b-30">
                                        <img src="assets/images/avatar-2.jpg" alt="user image"
                                            class="img-radius img-40 align-top m-r-15">
                                        <div class="d-inline-block">
                                            <h6>David Jones</h6>
                                            <p class="text-muted m-b-0">Developer</p>
                                        </div>
                                    </div>
                                    <div class="align-middle m-b-30">
                                        <img src="assets/images/avatar-1.jpg" alt="user image"
                                            class="img-radius img-40 align-top m-r-15">
                                        <div class="d-inline-block">
                                            <h6>David Jones</h6>
                                            <p class="text-muted m-b-0">Developer</p>
                                        </div>
                                    </div>
                                    <div class="align-middle m-b-30">
                                        <img src="assets/images/avatar-3.jpg" alt="user image"
                                            class="img-radius img-40 align-top m-r-15">
                                        <div class="d-inline-block">
                                            <h6>David Jones</h6>
                                            <p class="text-muted m-b-0">Developer</p>
                                        </div>
                                    </div>
                                    <div class="align-middle m-b-30">
                                        <img src="assets/images/avatar-4.jpg" alt="user image"
                                            class="img-radius img-40 align-top m-r-15">
                                        <div class="d-inline-block">
                                            <h6>David Jones</h6>
                                            <p class="text-muted m-b-0">Developer</p>
                                        </div>
                                    </div>
                                    <div class="align-middle m-b-10">
                                        <img src="assets/images/avatar-5.jpg" alt="user image"
                                            class="img-radius img-40 align-top m-r-15">
                                        <div class="d-inline-block">
                                            <h6>David Jones</h6>
                                            <p class="text-muted m-b-0">Developer</p>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <a href="#!" class="b-b-primary text-primary">View all
                                            Projects</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  project and team member end -->
                        <!--Fourth row ends-->
                        {% endif %}
                    </div>
                </div>
                <!-- Page-body end -->
            </div>
            <div id="styleSelector"> </div>
        </div>
    </div>
</div>
{% endblock %}





