{% extends 'students/student-base.html' %}
{% load static %}

{% block location_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
{% endblock %}

{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->

        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->

                <div class="page-body">
                    <div class="row">
                        <form  class="col-12" method="POST" enctype="multipart/form-data" onsubmit="return validateLocation();">
                        {% csrf_token %}
                            <!--First row starts-->
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-block">
                                        <!--div for profile picture upload starts-->

                                        <div class="section-title">
                                            <h2>Profile Picture</h2>
                                            <p>Upload a picture for your profile.</p>
                                        </div>

                                        <div class="profile-picture-area">

                                            <div class="profile-picture">

                                                <img id="profilePreview"
                                                    src="{% static 'assets/images/profile/profile.png' %}"
                                                    alt="Profile Picture">
                                                {% if student_profile.profile_picture %}
                                                <img src="{{ student_profile.profile_picture.url }}" alt="Profile Picture">
                                                {% endif %}
                                            </div>

                                            <div class="picture-info">

                                                <label for="profile_picture"
                                                    class="upload-btn">
                                                    Choose Photo
                                                </label>

                                                <input type="file"
                                                    id="profile_picture"
                                                    name="profile_picture"
                                                    accept="image/*" 
                                                    hidden>

                                                <p>JPG, PNG or JPEG. Maximum 2MB.</p>

                                                <button type="button"
                                                        id="removePhoto"
                                                        class="remove-btn">
                                                    Remove
                                                </button>

                                            </div>

                                        </div>
                                        <!--div for profile picture upload ends-->

                                    </div>
                                </div>
                            </div>
                            <!--First row ends-->

                            <!--Second row starts-->
                        
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-block">
                                        <!--Div for Personal Information start-->
                                        <div class="section-title">
                                            <h2>Personal Information</h2>
                                            <p>Your basic personal information.</p>
                                        </div>

                                        <div class="form-grid">

                                            <div class="form-group">

                                                <label for="full_name">
                                                    Full Name
                                                </label>

                                                <input type="text"
                                                    id="full_name"
                                                    name="full_name"
                                                    placeholder="Enter full name">

                                            </div>


                                            <div class="form-group">

                                                <label for="gender">
                                                    Gender
                                                </label>

                                                <select id="gender"
                                                        name="gender">

                                                    <option value="" selected disabled>
                                                        Select Gender
                                                    </option>

                                                    <option value="F">Female</option>
                                                    <option value="M">Male</option>
                                                    <option value="O">Others</option>

                                                </select>

                                            </div>


                                            <div class="form-group">

                                                <label for="phone">
                                                    Phone Number
                                                </label>

                                                <input type="tel"
                                                    id="phone"
                                                    name="phone"
                                                    placeholder="98XXXXXXXX"
                                                    maxlength="10">

                                            </div>


                                            <div class="form-group">

                                                <label for="dob_date">
                                                    Date of Birth
                                                </label>

                                                <input type="date"
                                                    id="dob_date"
                                                    name="dob"
                                                    placeholder="Date of Birth">          
                                            </div>

                                        </div>
                                        <!--div for personal Information ends-->

                                    </div>
                                </div>
                            </div>                       
                            <!--Second row ends-->


                            <!--Third row start-->
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-block">

                                        <!--div for academic information starts-->
                                        <div class="section-title">
                                            <h2>Academic Information</h2>
                                            <p>Tell tutors about your current education.</p>
                                        </div>

                                        <div class="form-grid">

                                            <div class="form-group">

                                                <label for="education_level">
                                                    Education Level
                                                </label>

                                                <select id="education_level"
                                                        name="education_level">

                                                    <option value="">
                                                        Select education level
                                                    </option>

                                                    <option value="school">
                                                        School
                                                    </option>

                                                    <option value="college">
                                                        College
                                                    </option>

                                                    <option value="university">
                                                        University
                                                    </option>

                                                </select>

                                            </div>


                                            <div class="form-group">

                                                <label for="grade">
                                                    Class / Grade
                                                </label>

                                                <select id="grade"
                                                        name="grade">

                                                    <option value="">
                                                        Select class
                                                    </option>

                                                    <option value="2">Class 2</option>
                                                    <option value="3">Class 3</option>
                                                    <option value="4">Class 4</option>
                                                    <option value="5">Class 5</option>
                                                    <option value="6">Class 6</option>
                                                    <option value="7">Class 7</option>
                                                    <option value="8">Class 8</option>
                                                    <option value="9">Class 9</option>
                                                    <option value="10">Class 10</option>

                                                </select>

                                            </div>


                                            <div class="form-group full-width">

                                                <label for="school_college">
                                                    School / College
                                                </label>

                                                <input type="text"
                                                    id="school_college"
                                                    name="school_college"
                                                    placeholder="Enter school or college name">

                                            </div>
                                        </div>

                                        <!--div for academic information ends-->

                                    </div>
                                </div>
                            </div>
                            <!--Third row ends-->

                             <!--Fourth row start-->
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-block">

                                        <!--div for academic information starts-->
                                        <div class="section-title">
                                            <h2>Learning Profile</h2>
                                            <p>Tell tutors about your learning needs, interests, and goals.</p>
                                        </div>

                                        <div class="form-grid">

                                            <div class="form-group full-width">

                                                <label for="goal_description">
                                                    Learning Description
                                                </label>
                                                <textarea rows="10" id="goal_description" name="goal_description" placeholder="What would you like a tutor to know about you and your learning goals?"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Fourth row ends-->

                            <!--Fifth row start-->
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-block">
                                        <!--div for location starts-->
                                        <div class="section-title">
                                            <h2>Location</h2>
                                            <p>
                                                Your location helps us find tutors near you.
                                            </p>
                                        </div>
                                     

                                        <div class="form-grid">
                                            
                                            <div class="form-group">

                                                <label for="region">
                                                    Region
                                                </label>

                                                <select id="region" name="region">                                                    
                                                    <option value="" selected disabled>
                                                        Select Region
                                                    </option>
                                                    {% for region in regions%}
                                                    <option value="{{region.id}}">
                                                        {{region.name}}
                                                    </option>
                                                    {% endfor %}  
                                                </select>

                                            </div>

                                            <div class="form-group">

                                                <label for="district">
                                                    District
                                                </label>

                                                <select id="district" name="district">
                                                    <option value="" selected disabled>
                                                        Select District
                                                    </option>
                                                </select>

                                            </div>

                                            <div class="form-group">

                                                <label for="city">
                                                   City
                                                </label>

                                                <select id="city" name="city">
                                                    <option value="" selected disabled>
                                                        Select City
                                                    </option>
                                                </select>

                                            </div>

                                            <div class="form-group">

                                            <label for="address">
                                                Address
                                            </label>

                                            <input type="text"
                                                id="address"
                                                name="address"
                                                placeholder="e.g. Shantinagar, Kathmandu">

                                        </div>

                                        </div>





                                        <!-- Map Area -->
                                        <div class="location-area">

                                            <div class="location-header">

                                                <div>
                                                    <strong>Select your location</strong>

                                                    <p>
                                                        Choose your location on the map
                                                        for accurate nearby tutor search.
                                                    </p>
                                                </div>

                                                <button type="button"
                                                        id="useLocation"
                                                        class="location-btn">

                                                    📍 Use My Location

                                                </button>

                                            </div>


                                            <div id="map"></div>

                                        </div>


                                        <!-- Hidden coordinates/ GPS values -->

                                        <input type="hidden"
                                            id="latitude"
                                            name="latitude">

                                        <input type="hidden"
                                            id="longitude"
                                            name="longitude">
                                        
                                        <!--div for location ends-->

                                    </div>
                                </div>
                            </div>
                            <!--Fifth row ends-->

                            <!--Sixth row start-->
                            <div class="col-12">
                                
                                <!--div for save-profile starts-->
                                <!-- Bottom Actions -->
                                <div class="form-actions">

                                    <a href="{% url 'student_dashboard' %}"
                                    class="cancel-btn">
                                        Cancel
                                    </a>

                                    <input type="submit" name="save_profile" value="Save Profile" class="save-btn"/>
                                    
                                </div>
                                <!--div for save-profile ends-->                                  
                                
                            </div>
                            <!--Sixth row ends-->
                        </form>                  

                    </div>
                </div>
                <!-- Page-body end -->
            </div>
            <div id="styleSelector"> </div>
        </div>
    </div>
</div>

{% endblock %}

{% block location_js %}
    <!--Leaflet-->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script>
        {% comment %} let map; {% endcomment %}
        let marker;


        // Default location: Kathmandu
        const defaultLatitude = 27.7172;
        const defaultLongitude = 85.3240;


        // Create map
        map = L.map("map").setView(
            [defaultLatitude, defaultLongitude],
            13
        );


        // OpenStreetMap tiles
        L.tileLayer(
            "https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png",
            {
                attribution:
                    '&copy; OpenStreetMap contributors &copy; CARTO',
                subdomains: "abcd",
                maxZoom: 20
            }
        ).addTo(map); 

        {% comment %} L.tileLayer(
            "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
            {
                attribution: '&copy; OpenStreetMap contributors',
                maxZoom: 19
            }
        ).addTo(map); {% endcomment %}

        {% comment %} L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map); {% endcomment %}

        map.on("click", function (event) {

            const latitude = event.latlng.lat;
            const longitude = event.latlng.lng;

            setLocation(latitude, longitude);
        });
        
        function setLocation(latitude, longitude) {

            // Save coordinates in hidden inputs
            document.getElementById("latitude").value = latitude;
            document.getElementById("longitude").value = longitude;


            // Remove old marker
            if (marker) {
                map.removeLayer(marker);
            }


            // Create new marker
            marker = L.marker([latitude, longitude])
                .addTo(map);


            // Move map
            map.setView(
                [latitude, longitude],
                16
            );
        }

        {% comment %} setLocation(
            defaultLatitude,
            defaultLongitude
        ); {% endcomment %}

        document.getElementById("useLocation").addEventListener("click", function () {

            if (!navigator.geolocation) {
                alert("Geolocation is not supported by your browser.");
                return;
            }

            navigator.geolocation.getCurrentPosition(

                function (position) {

                    const latitude = position.coords.latitude;

                    const longitude = position.coords.longitude;


                    setLocation(latitude, longitude);
                },

                function (error) {

                    if (error.code === error.PERMISSION_DENIED) {

                        alert(
                            "Please allow location access to use this feature."
                        );

                    } else {

                        alert(
                            "Unable to get your location."
                        );
                    }
                }
            );
        });
    </script>

    <script>
        function validateLocation() {
        const latitude = document.getElementById("latitude").value;
        const longitude = document.getElementById("longitude").value;

        if (!latitude || !longitude) {
            alert("Please select your location on the map.");
            return false;
        }

        return true;
    }
    </script>

  

    <script>
    document.getElementById('region').addEventListener('change', function () {
        const regionId = this.value;
        const districtSelect = document.getElementById('district');

        districtSelect.innerHTML = '<option value="">Loading...</option>';

        if (!regionId) {
            districtSelect.innerHTML =
                '<option value="">Select District</option>';
            return;
        }

        const url = "{% url 'get_districts' 0 %}".replace('0', regionId);

        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                districtSelect.innerHTML =
                    '<option value="" selected disabled>Select District</option>';

                data.forEach(district => {
                    const option = document.createElement('option');

                    option.value = district.id;
                    option.textContent = district.name;

                    districtSelect.appendChild(option);
                });
            })
            .catch(error => {
                console.error('Error loading districts:', error);

                districtSelect.innerHTML =
                    '<option value="">Unable to load districts</option>';
            });
    });


    document.getElementById('district').addEventListener('change', function () {
        const districtId = this.value;
        const citySelect = document.getElementById('city');

        citySelect.innerHTML = '<option value="">Loading...</option>';

        if (!districtId) {
            citySelect.innerHTML =
                '<option value="" selected disabled>Select City</option>';
            return;
        }

        const url = "{% url 'get_cities' 0 %}".replace('0', districtId);

        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                citySelect.innerHTML =
                    '<option value="" selected disabled>Select City</option>';

                data.forEach(city => {
                    const option = document.createElement('option');

                    option.value = city.id;
                    option.textContent = city.name;

                    citySelect.appendChild(option);
                });
            })
            .catch(error => {
                console.error('Error loading cities:', error);
                citySelect.innerHTML ='<option value="">Unable to load cities</option>';
            });
    });
    </script>
{% endblock %}