.progress-card{
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
    /* padding-top: 2px; */
    padding-bottom: 20px;
    background-color: rgb(0, 0, 0);
    /* margin:0; */
    /* width:700px; */
    /* Move it slightly over the first div */
  margin: -30px;

  position: relative;
  z-index: 1000;
}
.profile-container {
    width: 1000px;
    max-width: 90%;
    /* margin: 40px; */
    /* padding: 30px; */
    /* background: #737776; */
}

.profile-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
/* progress bar */
.steps {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.step {
    text-align: center;
    color: #999;
}

.step span {
    display: flex;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 50%;    
    color: rgba(255, 255, 255,0.5);
    border: 2px solid rgba(255, 255, 255,0.5);
}

.step small {
    display: block;
    margin-top: 6px;
}

.step.active span {
    color: white;
    background:rgba(68, 138, 255,1);
    border-color: rgba(255, 255, 255,1);
}
.step.active small {
   color:rgba(255, 255, 255,1);
}

.steps .line {
    width: 80px;
    height: 2px;
    background:rgba(255, 255, 255,0.5);
    margin: 0 10px;
}
.step.active + .line {
    background: rgba(255, 255, 255, 1);
}

/* progress button */

.progress-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 30px;
}

button.next-btn, button.back-btn, .complete-profile-btn{
    padding: 11px 22px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button.next-btn, .complete-profile-btn {
    background: #222;
    color: white;
}

button.back-btn {
    background: #eee;
    color: #333;
}

/* form */
.form-step {
    display: none;
}

.form-step.active {
    display: block;
}