<div class="profile-container">

    <h2>Complete Your Profile</h2>

    <!-- Progress -->
    <div class="steps">
        <div class="step active" data-step="1">
            <span>1</span>
            <small>Personal</small>
        </div>

        <div class="line"></div>

        <div class="step" data-step="2">
            <span>2</span>
            <small>Location</small>
        </div>

        <div class="line"></div>

        <div class="step" data-step="3">
            <span>3</span>
            <small>About You</small>
        </div>
         <div class="line"></div>

        <div class="step" data-step="4">
            <span>4</span>
            <small>Qualifications</small>
        </div>

        <div class="line"></div>

        <div class="step" data-step="5">
            <span>5</span>
            <small>Certificates</small>
        </div>

        <div class="line"></div>

        <div class="step" data-step="6">
            <span>6</span>
            <small>CV</small>
        </div>
    </div>
</div>